@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,300;0,600;0,800;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
}

.paralax-1 {
  background-image: url("images/bg.jpg");
}

.hero-paralax {
  height: 100vh;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.container {
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
}

#header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerAdress {
  font-size: 12px;
  font-family: "Quicksand", sans-serif;
  color: #d8d8d8;
}

.logo {
  cursor: pointer;
  color: #fff;
  font-family: "Quicksand", sans-serif;
}

.neon {
  text-shadow: 0 0 20px #ff005b;
}

.neon::after {
  content: attr(data-text);
  position: absolute;
  z-index: -1;
  color: #ff005b;
  filter: blur(40px);
}

nav {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #ffc200;
  z-index: 2;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
  transition: 1s;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style: none;
  margin: 35px 0;
  line-height: -50px;
}

nav ul li a {
  text-decoration: none;
  font-size: 60px;
  color: #333;
  padding: 10px;
  text-transform: uppercase;
  transition: ease 0.3s;
  position: relative;
}

nav ul li a::hover {
  transform: scale(1.5s);
  opacity: 0.2;
  filter: blur(5px);
}

nav ul li a::after {
  content: "";
  height: 5px;
  width: 0%;
  background: purple;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.5s;
}

nav ul li a:hover {
  width: 100%;
  transform: scale(1.5s);
  opacity: 0.2;
  filter: blur(2px);
}

.stroke {
  width: 1px;
  height: 150px;
  background-color: #d8d8d8;
  position: absolute;
  left: 0px;
  top: 190px;
  box-shadow: 0 0 20px #ff005b;
}

.socials .instagram {
  position: absolute;
  top: 370px;
  left: -12px;
  transition: transform 250ms;
}

.socials .instagram:hover {
  transform: translateY(-10px);
  color: #f11e27;
}

.socials .instagram a {
  text-decoration: none;
  color: #d8d8d8;
  font-size: 30px;
}

.socials .instagram a:hover {
  color: #f11e27;
}

.lite-text {
  color: #333;
  font-size: 200px;
  letter-spacing: 100px;
  opacity: 0.1;
  position: absolute;
  left: 25%;
  top: 35%;
  font-weight: 800;
  z-index: 1;
}

.menuClose {
  width: 30px;
  position: absolute;
  top: 50px;
  right: 100px;
  cursor: pointer;
}

.menuOpen {
  width: 25px;
  cursor: pointer;
}

#main {
  position: relative;
}

#main .banner-text {
  position: relative;
  top: 220px;
  left: 550px;
}

#main .banner-text h2 {
  margin-left: -190px;
  font-family: "Open sans", sans-serif;
  font-weight: 700;
  font-size: 60px;
  color: #fff;
  text-transform: uppercase;

  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
    0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
}

#main .banner-text p {
  margin-left: 70px;
  font-size: 20px;
  color: #fff;
  font-style: italic;
}

#main.logoPrimary {
  width: 250px;
}

#main .logoPrimary img {
  margin-top: 20px;
  position: relative;
  left: 550px;
  top: 160px;
}

#main .strokeScroll {
  width: 1px;
  height: 70px;
  background-color: #fff;
  position: relative;
  left: 675px;
  top: 270px;
}

#main .scroll {
  position: relative;
  left: 660px;
  top: 270px;
  color: #ff005b;
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
}
